[submodule "3º 2º cuatrimestre/Diseño de interfaces de usuario/Prácticas"]
	path = 3º 2º cuatrimestre/Diseño de interfaces de usuario/Prácticas
	url = git@github.com:Groctel/DIU21.git
[submodule "1º 2º cuatrimestre/Ingeniería, empresa y sociedad"]
	path = 1º 2º cuatrimestre/Ingeniería, empresa y sociedad
	url = git@github.com:Groctel/UGR_IES_18-19
[submodule "2º 2º cuatrimestre/Fundamentos de la ingeniería del software/Prácticas"]
	path = 2º 2º cuatrimestre/Fundamentos de la ingeniería del software/Prácticas
	url = git@github.com:Groctel/FIS-1920
[submodule "3º 2º cuatrimestre/Desarrollo de software/Prácticas/Práctica 1"]
	path = 3º 2º cuatrimestre/Desarrollo de software/Prácticas/Práctica 1
	url = https://github.com/Groctel/DS21
