{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/styles/evento.css">
	<script src="/scripts/comentarios.js" defer></script>
{% endblock %}

{% block titulo %}{{ event['title'] }}{% endblock %}

{% block main_body %}
	<div class="textbox">
		<div id="titulo-taller">
			{{ event['title'] }}
			<a href="evento_imprimir.php?event_id={{event['id']}}"><img src="/icon/material/print-24px.svg"></a>
		</div>

		<div id="datos-taller">
			<a href="account.php?id={{event['id_org']}}">{{org}}</a> - {{event['date']}}
		</div>

		{% for tag in tags %}
		{{tag}},
		{% endfor %}

		<div id="descripcion-taller">
			<div id="imagenes">
				<div id="contenedor">
					<img style="width: 150px; height: 150px" src={{event['img1']}}>
				</div>

				<div id="contenedor" style="padding: 0; height: 170px; width: 170px;">
					<img style="width: 170px; height: 170px" src={{event['img2']}}>
				</div>
			</div>
			<div id="body">{{event['body'] | raw}}</div>
			{% if user['perm'] == 'manager' or user['perm'] == 'superuser' %}
				<a href="edit_event.php?event_id={{event['id']}}"><img src="/icon/material/edit-24px.svg"></a><br>
			{% endif %}
			<button type="button" id="boton-comentarios">Mostrar comentarios</button>
		</div>

		<div id="comentarios">
			<div id="cajas">
				{% for com in comments %}
				<div id="caja-comentario">
					<div id="autor">
						<span id="nombre">{{com['name']}}</span>
						<span id="correo">{{com['mail']}}</span>
						<span id="fecha">{{com['date']}}{% if com['edited'] %}*{% endif %}</span>
						{% if user['perm'] == 'moderator' or user['perm'] == 'manager' or user['perm'] == 'superuser' %}
							<a href="edit_comment.php?comment_id={{com['id']}}"><img src="/icon/material/edit-24px.svg"></a>
							<a href="scripts_php/delete_comment.php?event_id={{event['id']}}&comment_id={{com['id']}}"><img src="/icon/material/clear-24px.svg"></a>
						{% endif %}
					</div>
					<div id="cuerpo">{{com['body']}}</div>
				</div>
				{% endfor %}
			</div>

			{% if user %}
				<form action="scripts_php/add_comment.php?event_id={{event['id']}}" id="form-comentario" method="post">
					<textarea id="form-cuerpo" name="comment" rows="10" cols="90" placeholder="Cuerpo del comentario." required></textarea>

					<div id="enviar">
						<input type="checkbox" name="tos" value="tos" required>
						<label for="tos">He leído y acepto las <a href="http://www.wheatonslaw.com/">condiciones de uso</a></label>
						<button type="submit" id="aniadir-comentario"><img src="/icon/material/send-24px.svg"></button>
					</div>
				</form>
			{% else %}
				Inicia sesión para comentar.
			{% endif %}
		</div>
	</div>
</article>
{% endblock %}
