{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/styles/evento.css">
	<script src="/scripts/comentarios.js" defer></script>
{% endblock %}

{% block titulo %}{{ event['título'] }}{% endblock %}

{% block main_body %}
	<div class="textbox">
		<div id="titulo-taller">
			{{ event['título'] }}
			<a href="evento-imprimir.php?event_id={{ event['id'] }}"><img src="/icon/material/print-24px.svg"></a>
		</div>
		<div id="datos-taller">
			{{ event['organizador'] }} - {{ event['fecha'] }}
		</div>

		<div id="descripcion-taller">
			<div id="imagenes">
				<div id="contenedor">
					<img style="width: 150px; height: 150px" src={{ event['img1'] }}>
				</div>
				<div id="contenedor" style="padding: 0; height: 170px; width: 170px;">
					<img style="width: 170px; height: 170px" src={{ event['img2'] }}>
				</div>
			</div>
			<div id="desc">{{ event['descripción'] | raw }}</div>
			<button type="button" id="boton-comentarios">Mostrar comentarios</button>
		</div>
		<div id="comentarios">
			<div id="cajas">
				{% for i in comments %}
				<div id="caja-comentario">
					<div id="autor">
						<span id="nombre">{{i['autor']}}</span>
						<span id="correo">{{i['correo']}}</span>
						<span id="fecha">{{i['fecha']}}</span>
					</div>
					<div id="cuerpo">{{i['contenido']}}</div>
				</div>
				{%endfor%}
			</div>

			<form action="javascript:AniadirComentario()" id="form-comentario">
				<div id="autor">
					<div id="nombre">
						<img src="/icon/material/face-24px.svg">
						<input type="text" name="nombre" placeholder="Nombre público" size="32" required><br>
					</div>
					<div id="email">
						<img src="/icon/material/email-24px.svg">
						<input type="text" name="email" placeholder="correo@dominio.*" size="32" required><br>
					</div>
				</div>

				<textarea id="form-cuerpo" name="cuerpo" rows="10" cols="90" placeholder="Cuerpo del comentario." required></textarea>

				<div id="enviar">
					<input type="checkbox" name="tos" value="tos" required>
					<label for="tos">He leído y acepto las <a href="http://www.wheatonslaw.com/">condiciones de uso</a></label>
					<button type="submit" id="aniadir-comentario"><img src="/icon/material/send-24px.svg"></button>
				</div>
			</form>
		</div>
	</div>
</article>
{% endblock %}
