<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="icon" href="/icon/open-workshop.png">
	<title>{% block titulo %}Open Workshop{% endblock %}</title>
	<script src='scripts/livesearch.js' type='module'></script>
	{% block head %}<!-- Hojas de estilo específicas -->{% endblock %}
</head>

<body>
	<header>
		<h1><img src="/img/open-workshop-logo.png">Open Workshop</h1>
	</header>

	<div class="topbar">
		<div id="contenido">
			<ul>
				<li><a href="/index.php">Inicio</a></li>
				<li><a href="/index.php">Categorías</a></li>
				{% if user %}
					<li><a href="/account.php">Mi cuenta</a></li>
				{% else %}
					<li><a href="/login.php"><b>Iniciar sesión</b></a></li>
				{% endif %}

				<li style="float:right"><a href="/index.php">Ayuda</a></li>
			</ul>
		</div>
	</div>

	<input type="text" class="search_bar">
	<div class="search_results"></div>

	<main>
		{% block navbar %}
		<div class="navbar">
			<div id="contenido">
				{% if user %}
				<ul>
					<li><a href="/index.php"><img src="/icon/material/dashboard-24px.svg">Mis talleres</a></li>
					<li><a href="/index.php"><img src="/icon/material/history-24px.svg">Historial</a></li>
					<li><a href="/index.php"><img src="/icon/material/star-24px.svg">Favoritos</a></li>
				</ul>
				<ul>
					{% if user['perm'] == 'manager' or user['perm'] == 'superuser' %}
						<li><a href="/create_event.php"><img src="/icon/material/add_task-24px.svg">Programar taller</a></li>
					{% endif %}
					<li><a href="/index.php"><img src="/icon/material/payments-24px.svg">Mis pagos</a></li>
				</ul>
				{% else %}
				<ul>
					<li><a href="/login.php"><img src="/icon/material/login-24px.svg">Iniciar sesión</a></li>
				</ul>
				{% endif %}
			</div>
		</div>
		{% endblock %}

		<article>
			{% block main_body %}
			{% endblock %}
		</article>
	</main>

	{% block footer %}
	<footer>
		<div class="enlaces-interes">
			<div class="lista-enlaces">
				<h3>Nuestras redes</h3>

				<ul>
					<li><a href="https://www.linkedin.com/in/atanasiorubio/"><img src="/icon/linkedin.png">LinkedIn</a></li>
					<li><a href="https://twitter.com/Groctel/"><img src="/icon/twitter.png">Twitter</a></li>
					<li><a href="https://www.reddit.com/user/Groctel"><img src="/icon/reddit.png">Reddit</a></li>
				</ul>
			</div>

			<div class="lista-enlaces">
				<h3>Contáctanos</h3>

				<ul>
					<li><a href=""><img src="/icon/mail.png">Correo</a></li>
					<li><a href="https://t.me/Groctel"><img src="/icon/telegram.png">Telegram</a></li>
				</ul>
			</div>
		</div>

		<p>
		Esta página y su código están distribuidos bajo la licencia <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GNU GENERAL PUBLIC LICENSE Version 2, June 1991</a> en <a href="https://github.com/Groctel/ugr-informatica"><tt>Groctel/ugr-informatica</tt></a>.
		</p>
	</footer>
	{% endblock %}
</body>
</html>
